.blob {
  position: absolute;
}

.blob.top {
  top: 0;
  right: 0;
}

.blob.bottom {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.blob.top.light path {
  fill: #fffaa8;
}

.blob.top.dark path {
  fill: #ffffff;
}

.blob.bottom.light path {
  fill: #96dcee;
}

.blob.bottom.dark path {
  fill: #6b7abb;
}
