.button {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.75em;
  border: 1px solid var(--button-color);
  padding: 0.5em 1.25em;
  color: var(--button-color);
  background-color: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button:enabled {
  cursor: pointer;
}

.button:hover:enabled {
  color: var(--button-color);
  background-color: var(--button-bg-color);
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button:disabled {
  color: #808080;
  border-color: #808080;
}
