.question {
  text-align: center;
  display: grid;
  padding: 1em 0;
}

.questionTitle {
  border: 1px solid var(--skeleton-color);
  border-radius: 0.75em;
  padding: 2em 1em;
  margin: 1em 0;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  padding: 1em;
}

.answer {
  display: inline-grid;
  align-items: center;
  padding: 1.5em 1em;
  border-radius: 0.75em;
  border: 1px solid var(--skeleton-color);
}
