.answerButton {
  display: inline-grid;
  align-items: center;
  padding: 1.5em 1em !important;
  counter-increment: answer_counter;
  position: relative;
  gap: 0.5em;
}

.answerButton::before {
  content: counter(answer_counter, upper-alpha) ':';
  opacity: 0.6;
}

@media (min-width: 992px) {
  .answerButton {
    grid-template-columns: min-content 1fr;
  }
}
