.quiz {
  display: flex;
  flex-direction: column;
}

.quiz .selected {
  border-color: transparent;
  background-color: var(--button-bg-color);
}

.modalButton {
  display: block;
  width: 14em;
  margin: 0 auto 1em;
}

.quizProgress {
  --progress-size: 0.3em;
  background-color: var(--border-color);
  height: var(--progress-size);
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes :global(progress) {
  0% {
    width: var(--old-length);
  }
  100% {
    width: var(--new-length);
  }
}
