.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: stretch;
  margin: 2.5em auto;
  padding: 0 var(--c-gap);
  max-width: var(--c-width);
  width: 100%;
  z-index: 2;
}
