.skeleton {
  border-radius: 0.75em;
  display: inline-block;
  line-height: 100%;
  width: 100%;
  background-color: #fff;
  background-size: 1000px 1000px;
  background-image: linear-gradient(
    100deg,
    var(--skeleton-color) 20%,
    #fafafa 50%,
    var(--skeleton-color) 60%
  );
  animation: shimmer 1.5s linear infinite forwards;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
