.questionTimer {
  position: absolute;
  width: calc(100% - var(--c-gap) * 2);
  padding: 0 var(--c-gap);
  max-width: var(--c-width);
  top: calc(2.5em + 55px + 1em);
  right: 50%;
  transform: translateX(50%);
  text-align: end;
}

.questionTimer span {
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--timer-color);
  filter: drop-shadow(2px 4px 6px var(--background-color));
}
