.setting {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
}

.title {
  margin: 0;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.option {
  flex: 1 1 auto;
}
