.table {
  display: grid;
  gap: 3em;
  position: relative;
  margin-bottom: 3em;
}

.table::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20vh;
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--background-color));
}

.tableRow {
  display: grid;
  grid-template-columns: 1.25fr 3fr 2fr;
  align-items: center;
  justify-items: stretch;
  font-weight: 700;
  text-align: center;
  gap: 1em;
}
/* FIXME: is sticky? */
.tableHeader {
  position: sticky;
  top: -1px;
  padding: 0 0 1em;
  margin-top: 1em;
  border-radius: 1.25em;
  background-color: var(--background-color);
  box-shadow: var(--background-color) 10px 20px 10px;
  z-index: 1;
}

.tableHeader div {
  display: flex;
  place-content: center;
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  padding: 1em 0;
  background-color: var(--button-bg-color);
  border-radius: 0.75em;
  cursor: pointer;
  position: relative;
}

.sortIcon {
  font-size: 0.5em;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.tableHeader > div:first-child:before {
  content: "#";
}

@media (min-width: 992px) {
  .tableHeader > div:first-child:before {
    content: "Round";
  }
  .sortIcon {
    font-size: 1em;
  }
}
