.table {
  display: grid;
  gap: 3em;
  position: relative;
  margin-bottom: 3em;
}

.table::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20vh;
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--background-color));
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: stretch;
  font-weight: 700;
  text-align: center;
  gap: 2em;
}

.tableHeader {
  position: sticky;
  top: -1px;
  padding: 1em 0;
  background-color: var(--background-color);
  box-shadow: var(--background-color) 10px 20px 10px;
  z-index: 1;
}

.tableHeader div {
  display: flex;
  place-content: center;
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  padding: 1em 0;
  background-color: var(--button-bg-color);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
}
/* TODO: change arrow icons */
.arrow {
  --arrow-size: 0.25em;
  --wrapper-size: calc(var(--arrow-size) * 2.5);
  --border-width: 2px;
  display: block;
  height: var(--wrapper-size);
  width: var(--wrapper-size);
  position: absolute;
  right: var(--wrapper-size);
  top: 50%;
  transform: translateY(-50%);
}

.arrow::after {
  --arrow-shift: calc(var(--arrow-size) / 4);
  content: "";
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-right-style: solid;
  border-right-width: var(--border-width);
  height: var(--arrow-size);
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--arrow-size);
  border-color: transparent;
}

.arrow.up::after {
  border-color: var(--color);
  transform: translate(-50%, calc(calc(var(--arrow-shift) * 1) - 50%))
    rotate(225deg);
}

.arrow.down::after {
  border-color: var(--color);
  transform: translate(-50%, calc(calc(var(--arrow-shift) * -1) - 50%))
    rotate(45deg);
}

.tableHeader > div:first-child:before {
  content: "#";
}

@media (min-width: 992px) {
  .tableHeader > div:first-child:before {
    content: "Round";
  }
  .arrow {
    --arrow-size: 0.5em;
    --border-width: 3px;
  }
}
