.footer {
  --gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  z-index: 1;
}

.submitButton {
  --border-width: 3px;
  padding: 1.5em 2.25em;
  color: var(--background-color);
  background-color: var(--button-color);
  font-weight: 600;
  border-radius: 1em;
  border-width: var(--border-width);
  position: relative;
  width: calc(50% - var(--gap));
}

.start {
  font-size: 1.5em;
}

.footerCentered {
  justify-content: center;
}

.arrow {
  --arrow-size: 0.75em;
  --wrapper-size: calc(var(--arrow-size) * 2);
  display: block;
  height: var(--wrapper-size);
  width: var(--wrapper-size);
  position: relative;
  margin: 0 auto;
}

.arrow::after {
  --arrow-shift: calc(var(--arrow-size) / 4);
  content: "";
  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-right-style: solid;
  border-right-width: var(--border-width);
  height: var(--arrow-size);
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--arrow-size);
  border-color: var(--background-color);
  transition: border-color 0.3s ease-in-out;
}

.submitButton:hover .arrow::after {
  border-color: var(--button-color);
}

.arrow.next::after {
  transform: translate(calc(calc(var(--arrow-shift) * -1) - 50%), -50%)
    rotate(315deg);
}

.arrow.back::after {
  transform: translate(calc(var(--arrow-shift) - 50%), -50%) rotate(135deg);
}

@media (min-width: 992px) {
  .footer {
    justify-content: center;
  }
  .submitButton {
    width: 12em;
  }
}
