.question {
  grid-gap: 1em;
  text-align: center;
  display: none;
}

.question.active {
  display: grid;
}

.questionNumber {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.questionTitle {
  border: 1px solid var(--button-color);
  border-radius: 0.75em;
  padding: 2em;
}

.questionShownNumber {
  display: none;
}

.question.allShown {
  padding: 2em 0;
}

.question.allShown:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.question.allShown .questionNumber {
  display: none;
}

.question.allShown .questionTitle {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
}

.question.allShown .questionShownNumber {
  display: inline;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  padding: 1em;
  position: relative;
  counter-reset: count;
}

.answer {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  padding: 1.5em 1em;
  counter-increment: count;
  position: relative;
}

.answer::before {
  content: counter(count, upper-alpha) ":";
}

.blur {
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-content: center;
  visibility: hidden;
  z-index: 1;
}

.blur p {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

.blur.shown {
  visibility: visible;
}

.selected,
.correct,
.incorrect {
  border-color: transparent !important;
}

.selected {
  background-color: var(--button-bg-color);
}

.correct {
  background-color: var(--good-color);
}

.incorrect {
  background-color: var(--bad-color);
}

.correct:disabled {
  color: inherit;
}

@media (max-width: calc(400px + 1.25em * 2 - 1px)) {
  .question.allShown .questionTitle {
    text-align: left;
  }
}
