.question {
  text-align: center;
  display: none;
  padding: 1em 0;
}

.question.active {
  display: grid;
}

.question:not(.allShown).active {
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.questionNumber {
  font-family: "Karla", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.questionTitle {
  border: 1px solid var(--button-color);
  border-radius: 0.75em;
  padding: 2em 1em;
  margin: 1em 0;
}

.questionShownNumber {
  display: none;
}

.question.allShown:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.question.allShown .questionNumber {
  display: none;
}

.question.allShown .questionTitle {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
}

.question.allShown .questionShownNumber {
  display: inline;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  padding: 1em;
  position: relative;
  counter-reset: count;
}

.answers .answer {
  display: inline-grid;
  align-items: center;
  padding: 1.5em 1em;
  counter-increment: count;
  position: relative;
  gap: 0.5em;
}

.answers .answer::before {
  content: counter(count, upper-alpha) ":";
}

.answers .boolean {
  font-size: 1.5em;
  margin: auto;
  filter: brightness(80%);
}

.answers .boolean.true {
  color: var(--good-color);
}

.answers .boolean.false {
  color: var(--bad-color);
}

.allShown .answers .boolean {
  color: inherit;
}

.blur {
  backdrop-filter: blur(var(--blur-size));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-content: center;
  border-radius: 1em;
  visibility: hidden;
  z-index: 1;
}

.blur p {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

.blur.shown {
  visibility: visible;
}

.answers .selected,
.answers .correct,
.answers .incorrect {
  border-color: transparent !important;
}

.answers .selected {
  background-color: var(--button-bg-color);
}

.answers .correct {
  background-color: var(--good-color);
}

.answers .incorrect {
  background-color: var(--bad-color);
}

.answers .correct:disabled {
  color: inherit;
}

@media (max-width: calc(400px + 1.25em * 2 - 1px)) {
  .question.allShown .questionTitle {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .answers .answer {
    grid-template-columns: min-content 1fr;
  }
}
