.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tableHead {
    background-color: var(--button-bg-color);
}

.tableRow:nth-child(even) {
    background-color: rgba(150, 220, 238, 0.15);
}

.tableHeader {
    padding: 10px;
    cursor: pointer;
}

.tableCell {
    padding: 10px;
}

.win {
    color: var(--win-color);
}

.lose {
    color: var(--lose-color);
}

