@font-face {
  font-family: 'Qalisso';
  src: url('../../public/fonts/Qalisso/Qalisso.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amellia Script';
  src: url('../../public/fonts/AmelliaScript/AmelliaScript.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Regular.eot');
  src:
    local('Mozaic GEO Regular'),
    local('MozaicGEO-Regular'),
    url('../../public/fonts/Mozaic/MozaicGEO-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Regular.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Regular.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-ExtraLight.eot');
  src:
    local('Mozaic GEO Extra Light'),
    local('MozaicGEO-ExtraLight'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraLight.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraLight.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-ExtraBlack.eot');
  src:
    local('Mozaic GEO Extra Black'),
    local('MozaicGEO-ExtraBlack'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBlack.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBlack.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBlack.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Bold.eot');
  src:
    local('Mozaic GEO Bold'),
    local('MozaicGEO-Bold'),
    url('../../public/fonts/Mozaic/MozaicGEO-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Bold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Bold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Medium.eot');
  src:
    local('Mozaic GEO Medium'),
    local('MozaicGEO-Medium'),
    url('../../public/fonts/Mozaic/MozaicGEO-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Medium.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Medium.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-ExtraBold.eot');
  src:
    local('Mozaic GEO Extra Bold'),
    local('MozaicGEO-ExtraBold'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Light.eot');
  src:
    local('Mozaic GEO Light'),
    local('MozaicGEO-Light'),
    url('../../public/fonts/Mozaic/MozaicGEO-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Light.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Light.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Black.eot');
  src:
    local('Mozaic GEO Black'),
    local('MozaicGEO-Black'),
    url('../../public/fonts/Mozaic/MozaicGEO-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Black.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Black.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-Thin.eot');
  src:
    local('Mozaic GEO Thin'),
    local('MozaicGEO-Thin'),
    url('../../public/fonts/Mozaic/MozaicGEO-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-Thin.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-Thin.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Light.eot');
  src:
    local('Mozaic HUM Light'),
    local('MozaicHUM-Light'),
    url('../../public/fonts/Mozaic/MozaicHUM-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Light.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Light.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Black.eot');
  src:
    local('Mozaic HUM Black'),
    local('MozaicHUM-Black'),
    url('../../public/fonts/Mozaic/MozaicHUM-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Black.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Black.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-ExtraLight.eot');
  src:
    local('Mozaic HUM Extra Light'),
    local('MozaicHUM-ExtraLight'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraLight.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraLight.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Medium.eot');
  src:
    local('Mozaic HUM Medium'),
    local('MozaicHUM-Medium'),
    url('../../public/fonts/Mozaic/MozaicHUM-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Medium.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Medium.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-ExtraBold.eot');
  src:
    local('Mozaic HUM Extra Bold'),
    local('MozaicHUM-ExtraBold'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-ExtraBlack.eot');
  src:
    local('Mozaic HUM Extra Black'),
    local('MozaicHUM-ExtraBlack'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBlack.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBlack.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBlack.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic GEO';
  src: url('../../public/fonts/Mozaic/MozaicGEO-SemiBold.eot');
  src:
    local('Mozaic GEO Semi Bold'),
    local('MozaicGEO-SemiBold'),
    url('../../public/fonts/Mozaic/MozaicGEO-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicGEO-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicGEO-SemiBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicGEO-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Bold.eot');
  src:
    local('Mozaic HUM Bold'),
    local('MozaicHUM-Bold'),
    url('../../public/fonts/Mozaic/MozaicHUM-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Bold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Bold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Regular.eot');
  src:
    local('Mozaic HUM Regular'),
    local('MozaicHUM-Regular'),
    url('../../public/fonts/Mozaic/MozaicHUM-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Regular.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Regular.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-ExtraLight.eot');
  src:
    local('Mozaic Italic Extra Light'),
    local('MozaicItalic-ExtraLight'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraLight.woff2')
      format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraLight.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraLight.ttf')
      format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Regular.eot');
  src:
    local('Mozaic Italic Regular'),
    local('MozaicItalic-Regular'),
    url('../../public/fonts/Mozaic/MozaicItalic-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Regular.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Regular.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-ExtraBlack.eot');
  src:
    local('Mozaic Italic Extra Black'),
    local('MozaicItalic-ExtraBlack'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBlack.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBlack.woff2')
      format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBlack.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBlack.ttf')
      format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Light.eot');
  src:
    local('Mozaic Italic Light'),
    local('MozaicItalic-Light'),
    url('../../public/fonts/Mozaic/MozaicItalic-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Light.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Light.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-SemiBold.eot');
  src:
    local('Mozaic Italic Semi Bold'),
    local('MozaicItalic-SemiBold'),
    url('../../public/fonts/Mozaic/MozaicItalic-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-SemiBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-SemiBold.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Medium.eot');
  src:
    local('Mozaic Italic Medium'),
    local('MozaicItalic-Medium'),
    url('../../public/fonts/Mozaic/MozaicItalic-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Medium.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Medium.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-Thin.eot');
  src:
    local('Mozaic HUM Thin'),
    local('MozaicHUM-Thin'),
    url('../../public/fonts/Mozaic/MozaicHUM-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-Thin.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-Thin.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Bold.eot');
  src:
    local('Mozaic Italic Bold'),
    local('MozaicItalic-Bold'),
    url('../../public/fonts/Mozaic/MozaicItalic-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Bold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Bold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic HUM';
  src: url('../../public/fonts/Mozaic/MozaicHUM-SemiBold.eot');
  src:
    local('Mozaic HUM Semi Bold'),
    local('MozaicHUM-SemiBold'),
    url('../../public/fonts/Mozaic/MozaicHUM-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicHUM-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicHUM-SemiBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicHUM-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Black.eot');
  src:
    local('Mozaic Italic Black'),
    local('MozaicItalic-Black'),
    url('../../public/fonts/Mozaic/MozaicItalic-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Black.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Black.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-ExtraBold.eot');
  src:
    local('Mozaic Italic Extra Bold'),
    local('MozaicItalic-ExtraBold'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBold.woff2')
      format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBold.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-ExtraBold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mozaic';
  src: url('../../public/fonts/Mozaic/MozaicItalic-Thin.eot');
  src:
    local('Mozaic Italic Thin'),
    local('MozaicItalic-Thin'),
    url('../../public/fonts/Mozaic/MozaicItalic-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Mozaic/MozaicItalic-Thin.woff2') format('woff2'),
    url('../../public/fonts/Mozaic/MozaicItalic-Thin.woff') format('woff'),
    url('../../public/fonts/Mozaic/MozaicItalic-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
