.app {
  --gap: 2.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--gap) * 2);
  width: 100vw;
  color: var(--color);
  background-color: var(--background-color);
  padding: var(--gap) 0;
  gap: var(--gap);
  position: relative;
}