.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  color: var(--color);
  background-color: var(--background-color);
  position: relative;
}

.container {
  --gap: 2.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-items: stretch;
  margin: var(--gap) auto;
  gap: var(--gap);
  padding: 0 1.25em;
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    padding: 0 3em;
  }
}


