:root {
  --white: #ffffff;
  --color: #ffffff;
  --background-color: #1b1b32;
  --button-bg-color: #6b7abb;
  --border-color: #5d6baa;
  --button-color: var(--color);

  --normal-color: #fce795;
  --good-color: #91c483;
  --bad-color: #fd9091;

  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  overflow-x: hidden;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --color: #0a475c;
  --background-color: #e8f7fc;
  --button-bg-color: #96dcee;
  --border-color: #72cce3;
  --button-color: var(--color);
}

[data-theme="dark"] {
  --color: #ffffff;
  --background-color: #1b1b32;
  --button-bg-color: #6b7abb;
  --border-color: #5d6baa;
  --button-color: var(--color);
}

/* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  } */

body {
  margin: 0;
  /* display: grid;
    place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin: 1em;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  border-radius: 0.75em;
  border: 1px solid var(--button-color);
  padding: 0.5em 1.25em;
  color: var(--button-color);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

button:enabled {
  cursor: pointer;
}

button:hover:enabled {
  color: var(--button-color);
  background-color: var(--button-bg-color);
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  color: #808080;
  border-color: #808080;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #0a475c;
    --background-color: #e8f7fc;
    --button-bg-color: #96dcee;
    --border-color: #72cce3;
    --button-color: var(--color);
  }

  /* a:hover {
      color: #747bff;
    } */
  /* button {
      color: var(--button-color);
    } */
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}
