.progress {
  --wrapper-size: 0.75em;
  --value-size: calc(var(--wrapper-size) * 4);
  --border-size: calc(var(--value-size) / 15);
  --offset-size: calc(var(--value-size) + calc(var(--border-size) * 2));
  background-color: var(--progress-color);
  justify-content: flex-start;
  border-radius: calc(var(--wrapper-size) / 2);
  align-items: center;
  position: relative;
  display: flex;
  margin: 0 auto;
  height: var(--wrapper-size);
  width: calc(100% - var(--offset-size));
}

.progressBar {
  animation: progress 3s normal forwards;
  border-radius: calc(var(--wrapper-size) / 2);
  height: 100%;
  width: 0;
  margin: 0;
  position: relative;
}

.progressBarValue {
  content: "";
  position: absolute;
  right: calc(((calc(var(--value-size) / 2) + var(--border-size)) * -1));
  background-color: var(--background-color);
  height: var(--value-size);
  width: var(--value-size);
  border-radius: 50%;
  border: var(--border-size) solid var(--color);
  top: 50%;
  transform: translateY(-50%);
  line-height: var(--value-size);
}

.good {
  background-color: var(--good-color);
}

.normal {
  background-color: var(--normal-color);
}

.bad {
  background-color: var(--bad-color);
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: var(--score);
  }
}
