.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: stretch;
    margin: 2.5em auto;
    padding: 0 var(--c-gap);
    max-width: var(--c-width);
    width: 100%;
    z-index: 1;
}

.startButton {
    font-size: 1.5em;
    flex: 0 0 auto;
}

.contacts {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Karla", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 1em;
    z-index: 1;
}

.contacts p {
    margin: 0;
}

.contacts > :first-child {
    display: none;
}

.contactLink {
      text-decoration: none;
      color: var(--color);
      font-weight: 700;
    position: relative;
}

.contactLink::before,
.contactLink:visited::before {
    content: '';
    background-color: var(--button-bg-color);
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.contactLink:hover::before,
.contactLink:active::before,
.contactLink:focus::before {
    bottom: 0;
    height: 100%;
}

@media (min-width: 992px) {
    .contacts > :first-child {
      display: block;
    }
}
