.settings {
  text-align: center;
}

.category {
  position: relative;
  height: 20em;
  overflow: hidden;
}

.overflow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--background-color));
  cursor: pointer;
}

.overflowHidden {
  height: auto;
}

.overflowHidden .overflow {
  display: none;
}

.option {
  flex: 1 1 auto;
}

.option.selected {
  border-color: transparent;
  background-color: var(--button-bg-color);
}

.sliderContainer {
  width: 100%;
}

.slider {
  --slider-size: 0.75em;
  --thumb-size: calc(var(--slider-size) * 3);
  -webkit-appearance: none;
  width: 100%;
  height: var(--slider-size);
  border-radius: calc(var(--slider-size) / 2);
  background: var(--progress-color);
  outline: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: var(--button-bg-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: var(--button-bg-color);
  cursor: pointer;
}

.sliderValue {
  content: attr(value);
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
}

.slider:disabled {
  opacity: 0.4;
}

.slider:disabled + .sliderValue {
  opacity: 0;
}

.checkbox {
  --s: 2.5em;
  --green-l: 64%;
  --red-l: 78%;
  height: calc(var(--s) + var(--s) / 5);
  width: auto;
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: 0 auto 2em;
  display: grid;
  cursor: pointer;
  background-color: hsl(var(--red-hs), var(--red-l));
  box-sizing: content-box;
  overflow: hidden;
  transition: 0.3s 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:before {
  content: "";
  padding: calc(var(--s) / 10);
  --_g: radial-gradient(
    circle closest-side at calc(100% - var(--s) / 2) 50%,
    #000 96%,
    #0000
  );
  background: var(--_g) 0 / var(--_p, var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p, 0) / var(--s) 100% no-repeat content-box, #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s) / 12)) contrast(11);
  transition: 0.4s, background-position 0.4s 0.1s,
    padding
      cubic-bezier(0, calc(var(--_i, -1) * 200), 1, calc(var(--_i, -1) * 200))
      0.25s 0.1s;
}

.checkbox:checked {
  background-color: hsl(var(--green-hs), var(--green-l));
}

.checkbox:checked:before {
  padding: calc(var(--s) / 10 + 0.05px) calc(var(--s) / 10);
  --_p: 100%;
  --_i: 1;
}

@media (min-width: 992px) {
  .category {
    height: auto;
  }
  .overflow {
    display: none;
  }
}
